<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lyndir.masterpassword"
          android:versionCode="1"
          android:versionName="GIT-SNAPSHOT">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19" />

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:allowBackup="true">
        <activity android:name=".EmergencyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UsersActivity" />
    </application>
    
</manifest>

