[submodule "External/Pearl"]
	path = External/Pearl
	url = git://github.com/Lyndir/Pearl.git
[submodule "External/InAppSettingsKit"]
	path = External/InAppSettingsKit
	url = git://github.com/lhunath/InAppSettingsKit.git
[submodule "External/FontReplacer"]
	path = External/FontReplacer
	url = git://github.com/0xced/FontReplacer.git
[submodule "External/UbiquityStoreManager"]
	path = External/UbiquityStoreManager
	url = git://github.com/lhunath/UbiquityStoreManager.git
[submodule "External/RHStatusItemView"]
	path = External/RHStatusItemView
	url = git://github.com/lhunath/RHStatusItemView.git
