# OS-Specific junk.
.DS_Store
Thumbs.db

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Xcode IDE
xcuserdata/
DerivedData/

# Generated
/platform-darwin/Resources/Media/Images.xcassets/

# Media
public/Press/Background.png
public/Press/Front-Page.png
public/Press/MasterPassword_PressKit/MasterPassword_pressrelease_*.pdf

# Gradle
build
!/build
.gradle
local.properties

# Maven
target
dependency-reduced-pom.xml
