[submodule "External/Pearl"]
	path = External/Pearl
	url = git://github.com/Lyndir/Pearl.git
[submodule "External/InAppSettingsKit"]
	path = External/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit.git
