# OS-Specific junk.
.DS_Store
Thumbs.db

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Xcode IDE
xcuserdata/
DerivedData/

# Generated
/platform-independent/cli-c/VERSION
/platform-independent/cli-c/mpw-*.tar.gz
/platform-darwin/Resources/Media/Images.xcassets/

# Media
public/Press/Background.png
public/Press/Front-Page.png
public/Press/MasterPassword_PressKit/MasterPassword_pressrelease_*.pdf

# Gradle
build
!/build
.gradle
local.properties

# Maven
target
dependency-reduced-pom.xml

# C
core/c/*.o
core/c/lib/*/.unpacked
core/c/lib/*/.patched
core/c/lib/*/src
core/c/lib/include
platform-independent/cli-c/cli/*.o
platform-independent/cli-c/mpw-*.tar.gz
platform-independent/cli-c/mpw
platform-independent/cli-c/mpw-bench
platform-independent/cli-c/mpw-tests
platform-independent/cli-c/VERSION
