<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>M. Password</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>mpsites</string>
                </array>
                <key>CFBundleTypeIconFiles</key>
                <array>
                    <string>Icon-Small</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Master Password sites</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.lyndir.masterpassword.sites</string>
                </array>
            </dict>
        </array>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>[auto]</string>
        <key>CFBundleVersion</key>
        <string>[auto]</string>
        <key>Fabric</key>
        <dict>
            <key>APIKey</key>
            <string>0d10c90776f5ef5acd01ddbeaca9a6cba4814560</string>
            <key>Kits</key>
            <array>
                <dict>
                    <key>KitInfo</key>
                    <dict/>
                    <key>KitName</key>
                    <string>Crashlytics</string>
                </dict>
            </array>
        </dict>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string>© 2011-2018</string>
        <key>UIAppFonts</key>
        <array>
            <string>Exo2.0-Bold.otf</string>
            <string>Exo2.0-ExtraBold.otf</string>
            <string>Exo2.0-Regular.otf</string>
            <string>Exo2.0-Thin.otf</string>
            <string>SourceCodePro-Black.otf</string>
            <string>SourceCodePro-Regular.otf</string>
            <string>SourceCodePro-ExtraLight.otf</string>
        </array>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIStatusBarStyle</key>
        <string>UIStatusBarStyleDefault</string>
        <key>UIStatusBarTintParameters</key>
        <dict>
            <key>UINavigationBar</key>
            <dict>
                <key>Style</key>
                <string>UIBarStyleDefault</string>
                <key>TintColor</key>
                <dict>
                    <key>Blue</key>
                    <real>0.42745098039215684</real>
                    <key>Green</key>
                    <real>0.39215686274509803</real>
                    <key>Red</key>
                    <real>0.37254901960784315</real>
                </dict>
                <key>Translucent</key>
                <false/>
            </dict>
        </dict>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.utf8-plain-text</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Master Password sites</string>
                <key>UTTypeIdentifier</key>
                <string>com.lyndir.masterpassword.sites</string>
                <key>UTTypeSize320IconFile</key>
                <string>Icon-320.png</string>
                <key>UTTypeSize64IconFile</key>
                <string>Icon-64.png</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mpsites</string>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
