<header class="{{ page.header }}">
    <nav>
        <a href="{% link index.html %}" data-hero="main">Master Password</a>
        <div class="flex-auto">
            <a href="https://itunes.apple.com/app/id510296984" data-hero="ios">iOS.</a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-android.apk" data-hero="android">Android.</a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-mac.zip" data-hero="mac">Mac.</a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-gui.jar" data-hero="desktop">Desktop.</a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-cli.tar.gz" data-hero="cli">Terminal.</a>
            <a href="https://js.masterpasswordapp.com/" data-hero="web">Web.</a>
        </div>
        <a href="http://help.masterpasswordapp.com">Support</a>
    </nav>

    <div class="hero" data-paroller-factor="-0.2" data-paroller-type="foreground"></div>

    <div class="flex-auto"></div>

    <nav>
        {% assign pages = site.pages | sort: 'order' %}
        {% for aPage in pages %}
        {% if aPage.nav %}
        <a href="{{ aPage.url }}"{% if page.url == aPage.url %} class="active"{% endif %}>{{ aPage.nav }}</a>
        {% endif %}
        {% endfor %}
    </nav>
</header>
