<configuration scan="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-8relative %22c{0} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lyndir" level="${mp.log.level:-TRACE}" />

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

</configuration>
