<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Enable this setting to send carefully anonymized information to help us diagnose and resolve any issues you encounter in a future update.</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>[auto]</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>unset</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>[auto]</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>unset</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>[auto]</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>unset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Send Diagnostic Info</string>
			<key>Key</key>
			<string>sendInfo</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>When enabled, you will not be logged out when switching out of the application. This will help you get to your passwords faster, but when someone finds your device unlocked, they can too.</string>
			<key>Title</key>
			<string>Security</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>rememberLogin</string>
			<key>Title</key>
			<string>Stay logged in</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>This will keep your site&apos;s passwords hidden from view.  Enable this if you&apos;re worried about people watching your screen while you use the app.

To see a site&apos;s password anyway, tap and hold your finger down for a while until the password appears.</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>hidePasswords</string>
			<key>Title</key>
			<string>Hide Passwords</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>The password strength indicator estimates the time necessary to break the password from a stolen database of SHA-1 hashes.  Use this setting to choose the budget the attacker is willing to devote exclusively to breaking your site password.</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>siteAttacker</string>
			<key>Title</key>
			<string>Attacker Budget</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Regular Hardware</string>
				<string>Dedicated GPUs, 5000 $ US</string>
				<string>Large Organization, 20 M$ US</string>
				<string>State Department, 5 B$ US</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>Regular</string>
				<string>5k $</string>
				<string>20M $</string>
				<string>5B $</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Enabling support for dictation in the site search box will enable the dictation button next to the space bar at the bottom of the keyboard.  Press this button and speak the name of your site to look it up.  Enabling dictation will change your keyboard which might make it slightly more difficult to enter a site name manually.</string>
			<key>Title</key>
			<string>Miscellaneous</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>dictationSearch</string>
			<key>Title</key>
			<string>Dictation Search</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>When site downgrades are enabled, a long tap on the upgrade button will downgrade the site instead.  This is useful if you accidentally upgraded a site and need to downgrade it again temporarily to see your old password.</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>allowDowngrade</string>
			<key>Title</key>
			<string>Allow Downgrade</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>Enable this if the app crashes when you log in.  Master Password will scan for and repair any inconsistencies in your sites history.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Check For Inconsistencies</string>
			<key>Key</key>
			<string>checkInconsistency</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
