<footer>

    <div>
        <h4>Navigation</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/why.html">Why do I need it?</a></li>
            <li><a href="/what.html">What does it do?</a></li>
            <li><a href="/how.html">How do I use it?</a></li>
        </ul>
    </div>

    <div>
        <h4>Get Master Password</h4>
        <ul>
            <li><a href="https://itunes.apple.com/app/id510296984">iOS</a></li>
            <li><a href="https://ssl.masterpasswordapp.com/masterpassword-android.apk">Android</a></li>
            <li><a href="https://ssl.masterpasswordapp.com/masterpassword-mac.zip">Mac</a></li>
            <li><a href="https://ssl.masterpasswordapp.com/masterpassword-gui.jar">Desktop</a></li>
            <li><a href="https://ssl.masterpasswordapp.com/masterpassword-cli.tar.gz">Terminal</a></li>
            <li><a href="https://js.masterpasswordapp.com/">Web</a></li>
        </ul>
    </div>

    <div>
        <h4>Resources</h4>
        <ul>
            <li><a href="http://help.masterpasswordapp.com/">Support</a></li>
            <li><a href="https://github.com/Lyndir/MasterPassword/">Source Code</a></li>
            <li><a href="https://github.com/Lyndir/MasterPassword/issues">Report an Issue</a></li>
        </ul>
    </div>

</footer>

<script src="/js/jquery.paroller.min.js"></script>
<script>$("body").paroller();</script>
