<header>
    <nav>
        <a href="/">Master Password</a>
        <div class="flex-auto">
            <a href="https://itunes.apple.com/app/id510296984">iOS.<img class="popup" src="img/ios.png" /></a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-android.apk">Android.<img class="popup" src="img/android.png" /></a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-mac.zip">Mac.<img class="popup border" src="img/mac-gui.png" /></a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-gui.jar">Desktop.<img class="popup" src="img/java-gui.png" /></a>
            <a href="https://ssl.masterpasswordapp.com/masterpassword-cli.tar.gz">Terminal.<img class="popup" src="img/c-cli.png" /></a>
            <a href="https://js.masterpasswordapp.com/">Web.<img class="popup border" src="img/web.png" /></a>
        </div>
        <a href="http://help.masterpasswordapp.com">Support</a>
    </nav>

    <div class="flex-auto"></div>

    <nav>
        <a href="/" class="active">Why</a>
        <a href="how.html">How</a>
        <a href="what.html">What</a>
    </nav>
</header>
